<?xml version="1.1" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<barcode>
			<design>
                <use_label>1</use_label>
                <logo_height>20</logo_height>
                <logo_width>60</logo_width>
			</design>
		</barcode>
	</default>
</config>
